# build-time
pip
# run-time
boltons>=23.0.0
conda>=26.1
conda-forge/label/mamba_prerelease::libmamba==2.6.0.rc5
conda-forge/label/mamba_prerelease::libmambapy==2.6.0.rc5
msgpack-python>=1.1.1
# needed for 'pip install -e conda-libmamba-solver'
hatchling
hatch-vcs
editables
