# build-time
pip
# run-time
boltons>=23.0.0
conda>=23.3.1
libmamba<=1.4.1 # see https://github.com/conda/conda-libmamba-solver/issues/186
libmambapy<=1.4.1 # see https://github.com/conda/conda-libmamba-solver/issues/186
# be explicit about sqlite because sometimes it's removed from the env :shrug:
sqlite
