services:
  app:
    build:
      context: .
      dockerfile: ./network-simulator/Dockerfile
    volumes:
      - ../../conda:/workspace/conda:cached
      - ../../mamba:/workspace/mamba:cached
      - ../../conda-libmamba-solver:/workspace/conda-libmamba-solver
    cap_add:
      - NET_ADMIN

    # Overrides default command so things don't shut down after the process ends.
    command: sleep infinity

  repo:
    image: nginx
    restart: unless-stopped
    volumes:
      - .:/usr/share/nginx/html:ro # instead, the test shards directory
    cap_add:
      - NET_ADMIN
