name: Review builds

on:
  pull_request:
    types:
      - labeled

jobs:
  build:
    if: |
      github.event_name == 'pull_request' &&
      github.event.label.name == 'build::review'
    strategy:
      matrix:
        include:
          - runner: ubuntu-latest
            subdir: noarch
    runs-on: ${{ matrix.runner }}
    steps:

      - name: Remove build label
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          github-token: ${{ secrets.CANARY_ACTION_TOKEN }}
          script: |
            const { data: pullRequest } = await github.rest.pulls.get({
              ...context.repo,
              pull_number: context.issue.number,
            })
            const buildLabel = '${{ github.event.label.name }}'
            const labels = pullRequest.labels.map(label => label.name)
            const hasBuildLabel = labels.includes(buildLabel)
            if (hasBuildLabel) {
                await github.rest.issues.removeLabel({
                  ...context.repo,
                  issue_number: context.issue.number,
                  name: buildLabel,
                })
            }
      # Clean checkout of specific git ref needed for package metadata version
      # which needs env vars GIT_DESCRIBE_TAG and GIT_BUILD_STR:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ github.ref }}
          clean: true
          fetch-depth: 0

      - name: Create and upload review build
        uses: conda/actions/canary-release@7f6830b1428a9bd47f0b068892c77eae95207037 # v26.1.0
        with:
          package-name: conda-libmamba-solver
          subdir: ${{ matrix.subdir }}
          anaconda-org-channel: conda-canary
          anaconda-org-label: '${{ github.event.repository.name }}-pr-${{ github.event.number }}'
          anaconda-org-token: ${{ secrets.ANACONDA_ORG_CONDA_CANARY_TOKEN }}
          comment-headline: 'Review build status'
          comment-token: ${{ secrets.CANARY_ACTION_TOKEN }}
          conda-build-arguments: '--override-channels -c conda-forge/label/mamba_dev -c conda-forge'
