name: Review builds

on:
  pull_request:
    types:
      - labeled

jobs:
  build:
    if: |
      github.event_name == 'pull_request' &&
      github.event.label.name == 'build::review'
    strategy:
      matrix:
        include:
          - runner: ubuntu-latest
            subdir: noarch
    runs-on: ${{ matrix.runner }}
    steps:

      - name: Remove build label
        uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea # v7.0.1
        with:
          github-token: ${{ secrets.CANARY_ACTION_TOKEN }}
          script: |
            const { data: pullRequest } = await github.rest.pulls.get({
              ...context.repo,
              pull_number: context.issue.number,
            })
            const buildLabel = '${{ github.event.label.name }}'
            const labels = pullRequest.labels.map(label => label.name)
            const hasBuildLabel = labels.includes(buildLabel)
            if (hasBuildLabel) {
                await github.rest.issues.removeLabel({
                  ...context.repo,
                  issue_number: context.issue.number,
                  name: buildLabel,
                })
            }
      # Clean checkout of specific git ref needed for package metadata version
      # which needs env vars GIT_DESCRIBE_TAG and GIT_BUILD_STR:
      - uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0
        with:
          ref: ${{ github.ref }}
          clean: true
          fetch-depth: 0

      - name: Create and upload review build
        uses: conda/actions/canary-release@15f883f14f4232f83658e3609c3316d58905138f # v24.8.0
        with:
          package-name: conda-libmamba-solver
          subdir: ${{ matrix.subdir }}
          anaconda-org-channel: conda-canary
          anaconda-org-label: '${{ github.event.repository.name }}-pr-${{ github.event.number }}'
          anaconda-org-token: ${{ secrets.CONDA_CANARY_ANACONDA_ORG_TOKEN }}
          comment-headline: 'Review build status'
          comment-token: ${{ secrets.CANARY_ACTION_TOKEN }}
          conda-build-arguments: '--override-channels -c conda-forge -c defaults'
