name: CI

on:
  push:
    branches:
      - main
    paths-ignore:
      - "docs/**"
  pull_request:
    paths-ignore:
      - "docs/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

env:
  CONDA_EXPERIMENTAL_SOLVER: libmamba

jobs:
  linux:
    name: Linux, Python ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.7", "3.8", "3.9"]

    env:
      OS: "linux"
      PYTHON: ${{ matrix.python-version }}

    steps:
      - name: Checkout our source
        uses: actions/checkout@v2
        with:
          path: conda-libmamba-solver
          fetch-depth: 0

      - name: Checkout conda
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          repository: conda/conda
          ref: master
          path: conda

      - name: Python ${{ matrix.python-version }}
        run: >
          docker run
          --rm
          -v ${GITHUB_WORKSPACE}/conda:/opt/conda-src
          -v ${GITHUB_WORKSPACE}/conda-libmamba-solver:/opt/conda-libmamba-solver-src
          -e TEST_SPLITS
          -e TEST_GROUP
          -e CONDA_EXPERIMENTAL_SOLVER
          ghcr.io/conda/conda-ci:master-linux-python${{ matrix.python-version }}
          bash -c "sudo env CONDA_EXPERIMENTAL_SOLVER=classic \
                        /opt/conda/condabin/conda install -p /opt/conda \
                        --repodata-fn=repodata.json --update-specs \
                        --file /opt/conda-libmamba-solver-src/dev/requirements.txt \
                        --file /opt/conda-libmamba-solver-src/tests/requirements.txt &&
                   /opt/conda/bin/python -m pip install /opt/conda-libmamba-solver-src --no-deps -vvv &&
                   source /opt/conda-src/dev/linux/bashrc.sh &&
                   /opt/conda/bin/python -m pytest /opt/conda-libmamba-solver-src -vv -m 'not slow'"

  macos:
    name: MacOS, Python ${{ matrix.python-version }}
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.7", "3.8", "3.9"]

    env:
      OS: "macos"
      PYTHON: ${{ matrix.python-version }}

    steps:
      - name: Checkout our source
        uses: actions/checkout@v2
        with:
          path: conda-libmamba-solver
          fetch-depth: 0

      - name: Checkout conda
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          repository: conda/conda
          ref: master
          path: conda

      - uses: conda-incubator/setup-miniconda@v2
        env:
          CONDA_EXPERIMENTAL_SOLVER: classic
        with:
          activate-environment: conda-test-env
          use-only-tar-bz2: true # IMPORTANT: This needs to be set for caching to work properly!

      - name: Setup environment
        shell: bash -l {0}
        working-directory: conda
        env:
          # with 4.12 out, ensure classic is used to install conda-libmamba-solver deps
          # otherwise it will error out because it can't be imported yet!
          CONDA_EXPERIMENTAL_SOLVER: classic
        run: |
          set -euxo pipefail
          # restoring the default for changeps1 to have parity with dev
          conda config --set changeps1 true
          # make sure the caching works correctly
          conda config --set use_only_tar_bz2 true
          # install all test requirements
          conda install --yes \
            --file tests/requirements.txt \
            --file ../conda-libmamba-solver/dev/requirements.txt \
            --file ../conda-libmamba-solver/tests/requirements.txt \
            python=${{ matrix.python-version }}
          conda update openssl ca-certificates certifi
          conda info
          python -c "from importlib_metadata import version; print('libmambapy', version('libmambapy'))"

      - name: Install conda-libmamba-solver
        shell: bash -l {0}
        working-directory: conda-libmamba-solver
        run: |
          python -m pip install . -vv --no-deps

      - name: Python ${{ matrix.python-version }}
        shell: bash -l {0}
        working-directory: conda
        run: |
          eval "$(sudo ${CONDA_PREFIX}/bin/python -m conda init bash --dev)"
          python -m pytest ${GITHUB_WORKSPACE}/conda-libmamba-solver -vv -m "not slow"

  windows:
    name: Windows, Python ${{ matrix.python-version }}
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.7", "3.8", "3.9"]

    env:
      OS: "windows"
      PYTHON: ${{ matrix.python-version }}

    steps:
      - name: Checkout our source
        uses: actions/checkout@v2
        with:
          path: conda-libmamba-solver
          fetch-depth: 0

      - name: Checkout conda
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          repository: conda/conda
          ref: master
          path: conda

      - name: Set temp dirs correctly
        # https://github.com/actions/virtual-environments/issues/712
        run: |
          echo "TMPDIR=$env:USERPROFILE\AppData\Local\Temp" >> $env:GITHUB_ENV
          echo "TEMP=$env:USERPROFILE\AppData\Local\Temp" >> $env:GITHUB_ENV
          echo "TMP=$env:USERPROFILE\AppData\Local\Temp" >> $env:GITHUB_ENV

      - name: Setup environment
        shell: cmd
        working-directory: conda
        env:
          # with 4.12 out, ensure classic is used to install conda-libmamba-solver deps
          # otherwise it will error out because it can't be imported yet!
          CONDA_EXPERIMENTAL_SOLVER: classic
        run: |
          :: add mamba to requirements
          type ..\conda-libmamba-solver\dev\requirements.txt >> .\tests\requirements.txt
          type ..\conda-libmamba-solver\tests\requirements.txt >> .\tests\requirements.txt
          if errorlevel 1 exit 1
          :: initialize conda dev
          call .\dev\windows\setup.bat
          if errorlevel 1 exit 1
          call .\dev-init.bat
          if errorlevel 1 exit 1
          python -c "from importlib_metadata import version; print('libmambapy', version('libmambapy'))"
          if errorlevel 1 exit 1
          conda info -a
          if errorlevel 1 exit 1

      - name: Install conda-libmamba-solver
        shell: cmd
        working-directory: conda
        run: |
          call .\dev-init.bat
          if errorlevel 1 exit 1
          python -m pip install --no-deps -vv "%GITHUB_WORKSPACE%\conda-libmamba-solver"
          if errorlevel 1 exit 1

      - name: Python ${{ matrix.python-version }}
        shell: cmd
        working-directory: conda
        run: |
          CALL dev-init.bat
          if errorlevel 1 exit 1
          python -m pytest "%GITHUB_WORKSPACE%\conda-libmamba-solver" -vv -m "not slow" --timeout=600
          if errorlevel 1 exit 1
